
.clickableImg{
    width: 100%;
    /* height: 30vh; */
    height: 250px;
    object-fit: cover;
}

.clickableImg:hover{
    cursor: pointer;
    opacity: 70%;
}

.followMeCard{
    background-color: rgb(153, 158, 163, 0.4);

}

.card{
    margin-bottom: 45px;
}

#contactBody{
    margin-left: 20px;
}

#portfolioSection{
    padding-top: 45px;
    background-color: rgb(173, 173, 173);
    border-radius: 10px;
}

#contactSection{
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
}

